 @font-face {
    font-family: Vazir;
    src: url(./fonts/Vazir.woff);
}
 @font-face {
    font-family: Gandom;
    src: url(./fonts/Gandom.woff);
}

@font-face {
    font-family: fawesome;
    src: url(./fonts/fontawesome-webfont.woff);
}