@import url("fonts.css");
img {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
}
#whatiscloud img {
    width: 90%;
}
#start q
{
	direction: rtl;
	text-align: center;
	font-family: Gandom;
	font-size:85% !important;
}
#start,
#yvirtual,
#hypotheses,
#choi
 {
width:800px !important;
direction: rtl !important;
}

.slide q {
	margin-top: 50px !important;
}
body .step {
font-family: Gandom !important;
}
#start.present .scaling  {
	-webkit-transform: scale(1.7) !important;
	-moz-transform: scale(1.7)!important;
	-ms-transform: scale(1.7)!important;
	-o-transform: scale(1.7)!important;
	transform: scale(1.7)!important;
	-webkit-transition-delay: 0.5s;
	-moz-transition-delay: 0.5s;
	-ms-transition-delay: 0.5s;
	-o-transition-delay: 0.5s;
	transition-delay: 0.5s;
}


/*
    ... so we define display to `inline-block` to enable transforms and
    transition duration to 0.5s ...
*/
#start b,
#yvirtual b {
    display: inline-block;
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

/*
    ... and we want 'positioning` word to move up a bit when the step gets
    `present` class ...
*/
#start.present .positioning,
#yvirtual.present .positioning {
    -webkit-transform: translateY(-10px);
    -moz-transform:    translateY(-10px);
    -ms-transform:     translateY(-10px);
    -o-transform:      translateY(-10px);
    transform:         translateY(-10px);
}

/*
    ... 'rotating' to rotate a quarter of a second later ...
*/
#start.present .rotating ,
#yvirtual.present .rotating {
    -webkit-transform: rotate(-10deg);
    -moz-transform:    rotate(-10deg);
    -ms-transform:     rotate(-10deg);
    -o-transform:      rotate(-10deg);
    transform:         rotate(-10deg);

    -webkit-transition-delay: 0.25s;
    -moz-transition-delay:    0.25s;
    -ms-transition-delay:     0.25s;
    -o-transition-delay:      0.25s;
    transition-delay:         0.25s;
}

/*
    ... and 'scaling' to scale down after another quarter of a second.
*/
#start.present .scaling ,
#yvirtual.present .scaling {
    -webkit-transform: scale(0.7);
    -moz-transform:    scale(0.7);
    -ms-transform:     scale(0.7);
    -o-transform:      scale(0.7);
    transform:         scale(0.7);

    -webkit-transition-delay: 0.5s;
    -moz-transition-delay:    0.5s;
    -ms-transition-delay:     0.5s;
    -o-transition-delay:      0.5s;
    transition-delay:         0.5s;
}

/*
    The 'imagination' step is again some boring font-sizing.
*/


#saas {
text-align:center;
}

.beat{
	animation: beat 1.35s infinite alternate;
	transform-origin: center;
}

/* Heart beat animation */
@keyframes beat{
	to { transform: scale(1.1); }
}
#tiny, #iaas{
    width: 500px;
    text-align: center;
}
 
#paas span,
#paas b {
    display: inline-block;
    -webkit-transform: translateZ(40px);
    -moz-transform:    translateZ(40px);
    -ms-transform:     translateZ(40px);
    -o-transform:      translateZ(40px);
     transform:        translateZ(40px);

    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

#paas .have {
    -webkit-transform: translateZ(-40px);
    -moz-transform:    translateZ(-40px);
    -ms-transform:     translateZ(-40px);
    -o-transform:      translateZ(-40px);
    transform:         translateZ(-40px);
}

#paas .you {
    -webkit-transform: translateZ(20px);
    -moz-transform:    translateZ(20px);
    -ms-transform:     translateZ(20px);
    -o-transform:      translateZ(20px);
    transform:         translateZ(20px);
}

#paas .noticed {
    -webkit-transform: translateZ(-40px);
    -moz-transform:    translateZ(-40px);
    -ms-transform:     translateZ(-40px);
    -o-transform:      translateZ(-40px);
    transform:         translateZ(-40px);
}

#paas .its {
    -webkit-transform: translateZ(60px);
    -moz-transform:    translateZ(60px);
    -ms-transform:     translateZ(60px);
    -o-transform:      translateZ(60px);
    transform:         translateZ(60px);
}

#paas .in {
    -webkit-transform: translateZ(-10px);
    -moz-transform:    translateZ(-10px);
    -ms-transform:     translateZ(-10px);
    -o-transform:      translateZ(-10px);
    transform:         translateZ(-10px);
}

#paas .footnote {
    font-size: 32px;

    -webkit-transform: translateZ(-10px);
    -moz-transform:    translateZ(-10px);
    -ms-transform:     translateZ(-10px);
    -o-transform:      translateZ(-10px);
    transform:         translateZ(-10px);
}

#paas.present span,
#paas.present b {
    -webkit-transform: translateZ(0px);
    -moz-transform:    translateZ(0px);
    -ms-transform:     translateZ(0px);
    -o-transform:      translateZ(0px);
    transform:         translateZ(0px);
}
#cloudlayers,
#review {
    width: 600px;
    text-align: center;
    font-size: 60px;
    line-height: 1;
}

#cloudlayers b
 {
    display: block;
    font-size: 250px;
    line-height: 250px;
}
#review b {
    display: block;
    font-size: 120px;
    line-height: 150px;
}
#cloudlayers .thoughts {
    font-size: 90px;
    line-height: 150px;
}

#virtualization {
    width: 600px;
    text-align: left;
    font-size: 40px;
    line-height: 1;
}

#virtualization b {
    display: block;
    font-size: 120px;
    line-height: 250px;
}

#virtualization .thoughts {
    font-size: 90px;
    line-height: 150px;
}
.substep {
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
  }
  
  body {
    -webkit-transition: background 0;
    -moz-transition:    background 0;
    -ms-transition:     background 0;
    -o-transition:      background 0;
    transition:         background 0;
  }
  
  .substep {
    opacity: 0;
  }
  
  /* override for animated substeps */
  .substep.anim {
    opacity: 1;
  }
  
  .substep.active {
    opacity: 1;
  }
  
  
  svg .substep.previous {
    opacity: 1; 
  }
  
  .substep.previous {
    opacity: 0.75;
  }
  .wrap {
	width: 100%;
	height: 100%;
	position: relative;
}
li {
    font-size: 70% !important;
}
ul {
	list-style-position: outside;
	list-style-type: square;
}
#inli {
    line-height: 30px !important;
}
#fali {
    line-height: 40px !important;
    font-size: 30px !important;
    direction: rtl;
}
#offer {
    color: #00cccc;
    text-align: center;
    margin: auto;
    font-size: 5em;
    text-shadow: 10px 50px 15px black; 
}
#fa {
    font-family: fawesome;
    font-size: 2em;
    text-shadow: 0px 0px 0px yellow !important; 
    color: yellow;
}
#questions,
#environment,
#consolidation{
    direction: rtl !important;
    text-align: right;
  /*  font-size: 70% !important;*/
}
#questions  q h2,
#consolidation  q h2,
#environment q h2{
    font-size: 35px;
}
/* 
img{
    margin: auto;
    width: 63%
} */