@import url("fonts.css");
#ing q{

	direction: rtl; 
	text-align: center;
	font-family: Gandom;
	font-size:85% !important;
}
#ing {
width:800px !important;
}

.slide q {
	margin-top: 50px !important;
}
body .step {
font-family: Gandom !important;
}
#ing.present .scaling {
	-webkit-transform: scale(1.7) !important;
	-moz-transform: scale(1.7)!important;
	-ms-transform: scale(1.7)!important;
	-o-transform: scale(1.7)!important;
	transform: scale(1.7)!important;
	-webkit-transition-delay: 0.5s;
	-moz-transition-delay: 0.5s;
	-ms-transition-delay: 0.5s;
	-o-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

#its  {
text-align:center;
}
